h2.sub-title 1. Event Details
.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="Give it a short distinct name", value=festival.title)
.form-group
  label(for="location") LOCATION
  input.form-control(type="text", name="location", placeholder="Search for a venue or Address", value=festival.location)
.form-group
  label(for="startsends") STARTS &amp; ENDS
  .input-daterange.input-group
    input#from(type="text", name="starts", value=festival.starts)
    select.form-control.custom-select.from-time(name="startTime" festival.startTime)
      option(value='00:00') 00:00
      option(value='00:30') 00:30
      option(value='01:00') 01:00
      option(value='01:30') 01:30
      option(value='02:00') 02:00
      option(value='02:30') 02:30
      option(value='03:00') 03:00
      option(value='03:30') 03:30
      option(value='04:00') 04:00
      option(value='04:30') 04:30
      option(value='05:00') 05:00
      option(value='05:30') 05:30
      option(value='06:00') 06:00
      option(value='06:30') 06:30
      option(value='07:00') 07:00
      option(value='07:30') 07:30
      option(value='08:00') 08:00
      option(value='08:30') 08:30
      option(value='09:00') 09:00
      option(value='09:30') 09:30
      option(value='10:00') 10:00
      option(value='10:30') 10:30
      option(value='11:00') 11:00
      option(value='11:30') 11:30
      option(value='12:00') 12:00
      option(value='12:30') 12:30
      option(value='13:00') 13:00
      option(value='13:30') 13:30
      option(value='14:00') 14:00
      option(value='14:30') 14:30
      option(value='15:00') 15:00
      option(value='15:30') 15:30
      option(value='16:00') 16:00
      option(value='16:30') 16:30
      option(value='17:00') 17:00
      option(value='17:30') 17:30
      option(value='18:00') 18:00
      option(value='18:30') 18:30
      option(value='19:00') 19:00
      option(value='19:30') 19:30
      option(value='20:00') 20:00
      option(value='20:30') 20:30
      option(value='21:00') 21:00
      option(value='21:30') 21:30
      option(value='22:00') 22:00
      option(value='22:30') 22:30
      option(value='23:00') 23:00
      option(value='23:30') 23:30
    p.text-center ~
    input#to(type="text", name="ends", value=festival.ends)
    select.form-control.custom-select.to-time(name="endTime" festival.endTime)
      option(value='00:00') 00:00
      option(value='00:30') 00:30
      option(value='01:00') 01:00
      option(value='01:30') 01:30
      option(value='02:00') 02:00
      option(value='02:30') 02:30
      option(value='03:00') 03:00
      option(value='03:30') 03:30
      option(value='04:00') 04:00
      option(value='04:30') 04:30
      option(value='05:00') 05:00
      option(value='05:30') 05:30
      option(value='06:00') 06:00
      option(value='06:30') 06:30
      option(value='07:00') 07:00
      option(value='07:30') 07:30
      option(value='08:00') 08:00
      option(value='08:30') 08:30
      option(value='09:00') 09:00
      option(value='09:30') 09:30
      option(value='10:00') 10:00
      option(value='10:30') 10:30
      option(value='11:00') 11:00
      option(value='11:30') 11:30
      option(value='12:00') 12:00
      option(value='12:30') 12:30
      option(value='13:00') 13:00
      option(value='13:30') 13:30
      option(value='14:00') 14:00
      option(value='14:30') 14:30
      option(value='15:00') 15:00
      option(value='15:30') 15:30
      option(value='16:00') 16:00
      option(value='16:30') 16:30
      option(value='17:00') 17:00
      option(value='17:30') 17:30
      option(value='18:00') 18:00
      option(value='18:30') 18:30
      option(value='19:00') 19:00
      option(value='19:30') 19:30
      option(value='20:00') 20:00
      option(value='20:30') 20:30
      option(value='21:00') 21:00
      option(value='21:30') 21:30
      option(value='22:00') 22:00
      option(value='22:30') 22:30
      option(value='23:00') 23:00
      option(value='23:30') 23:30
.form-group
  label(for="description") EVENT DESCRIPTION
  textarea.form-control(name="desc", rows="5")= festival.desc
.form-group
  label(for="orgname") ORGANIZER NAME
  input.form-control(type="text", name="orgname", placeholder="Who`s organizing this event?", value=festival.orgname)
.form-group
  label(for="orgdesc") ORGANIZER DESCRIPTION
  textarea.form-control(name="orgdesc", rows="5")= festival.orgdesc

h2.sub-title 2. Create Tickets
.form-group
  label.form-check-label
    input.form-check-input(type='checkbox')
    |       NOT FREE
  input.form-control.price(type="number", name="price", placeholder="Enter ticket price ex) 8000", value=festival.price)
  
h2.sub-title 3. Additional Settings  
.form-group
  label(for="festType") EVENT TYPE 
  select.custom-select.event-type(name="festType")
    option(value='default', selected='selected') Select the type of event
    option(value='Appearance or Signing') Appearance or Signing
    option(value='Attraction') Attraction
    option(value='Camp, Trip, or Retreat') Camp, Trip, or Retreat
    option(value='Class, Training, or Workshop') Class, Training, or Workshop
    option(value='Concert or Performance') Concert or Performance
    option(value='Conference') Conference
    option(value='Convention') Convention
    option(value='Dinner or Gala') Dinner or Gala
    option(value=' Festival or Fair') Festival or Fair
    option(value='Game or Competition') Game or Competition
    option(value='Meeting or Networking Event') Meeting or Networking Event
    option(value='Other') Other
    option(value='Party or Social Gathering') Party or Social Gathering
    option(value='Race or Endurance Event') Race or Endurance Event
    option(value='Rally') Rally
    option(value='Screening') Screening
    option(value='Seminar or Talk') Seminar or Talk
    option(value='Tour') Tour
    option(value='Tournament') Tournament
    option(value='Tradeshow, Consumer Show, or Expo') Tradeshow, Consumer Show, or Expo
.form-group
  label(for="festTopic") EVENT TOPIC 
  select.custom-select.event-topic(name="festTopic")
    option(value='default', selected='selected') Select a topic
    option(value='Auto, Boat & Air') Auto, Boat & Air
    option(value='Business & Professional') Business & Professional
    option(value='Charity & Causes') Charity & Causes
    option(value='Community & Culture') Community & Culture
    option(value='Family & Education') Family & Education
    option(value='Fashion & Beauty') Fashion & Beauty
    option(value='Film, Media & Entertainment') Film, Media & Entertainment
    option(value='Food & Drink') Food & Drink
    option(value='Government & Politics') Government & Politics
    option(value='Health & Wellness') Health & Wellness
    option(value='Hobbies & Special Interest') Hobbies & Special Interest
    option(value='Home & Lifestyle') Home & Lifestyle
    option(value='Music') Music
    option(value='Other') Other
    option(value='Performing & Visual Arts') Performing & Visual Arts
    option(value='16') Religion & Spirituality
    option(value='17') School Activities
    option(value='18') Science & Technology
    option(value='19') Seasonal & Holiday
    option(value='20') Sports & Fitness
    option(value='21') Travel & Outdoor
