extends ../layout

block content
  .container
    h1.main-title= festival.title

    .festival.show
      .content= festival.content
      include _festival

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        if currentUser && festival.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary(href=`/festivals/${festival.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/festivals/${festival.id}?_method=delete`) Delete
      
    if festival.numAttendss > 0
      hr
      h3 #{festival.numAttends} Attends(s)
      .attends.show
        each attend in attends
          include _attend

    form(action=`/festivals/${festival.id}/attends`, method='POST')
      .form-group
        label(for='attend') Your Attends
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Attends
