extends ../layout

block content
  table.table
    thead
      tr
        th(scope='col') Title
        th(scope='col') Location
        th(scope='col') Start Time
        th(scope='col') End Time
        th(scope='col') Price
        th(scope='col') Description
        th(scope='col') By
        th(scope='col') ORG_Description
        th(scope='col') Type
        th(scope='col') Topic
    tbody
      tr
        td= festival.title
        td= festival.location
        td= festival.startTime
        td= festival.endTime
        td= festival.price
        td= festival.desc
        td= festival.orgname
        td= festival.orgdesc
        td= festival.festType
        td= festival.festTopic    

  .festival.show
    .buttons
      button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
      button.btn.btn-primary(onclick="attend();") Attend 
      script.
        function attend() {
        #{festival.numAttends}++;
        }
    
  if festival.numAttends >= 0
    hr
    h3 #{festival.numAttends} Attends(s)
    .attends.show
      each attend in attends
        include _attend
        
  form(action=`/questions/${festival.id}/attends`, method='POST')
      .form-group
        label(for='attend') Attends
        textarea.form-control(name="content",placeholder=" '참석' or  '불참' " rows="5")
      button.btn.btn-primary(type="submit") Post
          
block grid-content
block footer
